@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --dark: #1d3557;
  --light: #f1faee;
  --accent: #a8dadc;
  --highlight: #fc5185;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* MAIN */

body {
  background-color: var(--dark);
  color: var(--light);
  min-height: 100vh;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  padding: 2rem;
  font-family: "Roboto Flex", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}

.choices-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.choices {
  vertical-align: center;
  background-color: var(--accent);
  border: none;
  border-radius: 1.25rem;
  min-width: 250px;
  min-height: 250px;
  font-size: 7.5rem;
  padding: 1rem;
  transition: 0.5s ease;
}

.choices:hover {
  cursor: pointer;
  background-color: var(--highlight);
  font-size: 10rem;
  min-width: 275px;
  min-height: 275px;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  font-weight: 900;
  color: var(--highlight);
  text-transform: uppercase;
}

.results-container {
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--highlight);
  text-transform: uppercase;
}

.choice-results {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
